.team-container {
    padding: 103px 40px 0 40px;
    // padding-right: 40px;
    overflow-x: hidden;

    .team {
        padding-top: 50px;
        padding-bottom: 50px;
        font-weight: bold;
        margin: 0 auto;
    }

    .round-container {
        width: 100%;
        margin: 0 auto;

        .container-foto-team {
            width: 120px;
            height: 120px;
            border-radius: 100%;
            background-position: center;
            background-size: cover;
            margin: 0 auto;
            padding-bottom: 30px;
        }

        .img-team1 {
            background-image: url(../img/lukas.jpg);
        }

    }

    .text-team-content {
        margin-bottom: 60px;

        .title-foto {
            font-size: 1em;
            text-align: center;
            padding-top: 20px;
        }

        .text-foto {
            font-size: 1em;
            text-align: center;
            margin-bottom: 5px;
        }

    }
}