// text
.cc-revoke, .cc-window {
    font-family: 'Muli', sans-serif !important;
    font-size: 13px!important;
    font-weight: 300!important;
}

//  button
.cc-btn {
    color: white !important;
    border: 1px solid white !important;
}