{{>header}}

<section>
    <div class="container team-container">
        <div class="row">
            {{#articles}}
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-12">
                <div class="round-container">
                    <div class="container-foto-team" style="background-image: url({{image}});"></div>
                </div>
                <div class="text-team-content">
                    <p class="title-foto">{{title}}</p>
                    <p class="text-foto">{{content}}</p>
                </div>
            </div>
            {{/articles}}
        </div>
    </div>
</section>