<div class="container">
    {{>news}}
    {{>incoming}}
    {{>filters}}

    <!--
    <div class="row justify-content-between">
        <div class="col-lg-2 col-md-5 col-sm-6 col-xs-6 clnd-btns" id="clnd-btn-left-col">
            <div id="clnd-previous" class="clnd-btn">
                <a href="#" class="no-pointer-events">
                    <em class="icon-left-open-big no-pointer-events"></em>
                </a>
            </div>
        </div>
        <div class="col-lg-2 col-md-5 col-sm-6 col-xs-6 clnd-btns" id="clnd-btn-right-col">
            <div id="clnd-next" class="clnd-btn btn-space">
                <a href="#" class="no-pointer-events">
                    <em class="icon-right-open-big"></em>
                </a>
            </div>
        </div>
    </div>
    -->

    <div id="calendars" class="mt-5"></div>
</div>