<section class="section-container py-3">
    <h4 class="text-center text-lg-left">Wydarzenia</h4>
    <article>
        Znajdziecie tu wszystkie wydarzenia realizowane w ramach Smart Oak Project; konferencje, festiwale, biegi charytatywne, wykłady, hakatony etc.
        Pod kalendarzem znajdują się kolorowe tagi, które ułatwią Wam szybsze wyszukiwanie wydarzeń.
        Nie zapomnijcie sprawdzić lokalizacji naszych projektów, ponieważ działamy globalnie.
        Do zobaczenia!
    </article>
</section>